API_KEY=CHANGEME # the API key with permissions to modify the theme
THEME_ID=CHANGEME # your theme's UUID
FUSIONAUTH_URL=https://auth.example.com # your FusionAuth server, including the protocol and hostname, but no paths
TMP_DIR=tmp # a temporary directory; this will be created
